/* Basic styles */

body {
	background-color: #c7e4ff;
	font-family: Georgia, Arial, Tahoma, Verdana, sans-serif;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	letter-spacing: 0.01em;
	color: #4c4c4c;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	color: #ee4411;
	font-weight: normal;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.4em;
}
h3 {
	font-size: 1.8em;
}
h4 {
	font-size: 1.5em;
	color: #3798f3;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1.0em;
	font-weight: bold;
}

a:link {
	color: #ee4411;
	text-decoration: none;
	border-bottom: dotted 1px #539dc9;
}
a:visited {
	color: #5d7178;
	text-decoration: none;
	border-bottom: dotted 1px #539dc9;
}
a:active {
	color: #3a9bff;
	text-decoration: none;
}
a:hover {
	color: #3b62b1;
	background-color: #e7f3fa;
	border-bottom: solid 1px #ee4411;
	text-decoration: none;
}

ul {
	list-style-type: square;
}



/* Layout */

#container {
	margin: 0;
	text-align: left;
	padding: 35px 0 0 30px;
	overflow: hidden;
	margin-right: 30px;
	background: #fff url(img/bg_hack.gif) repeat-y;
}

#itmilllogo {
	background-image: url(img/itmill-logo-small.gif);
	width: 195px;
	height: 32px;
	margin: 0 0 0 40px;
}

#header {
	position: absolute;
	top: 35px;
	right: 65px;
	font-size: 0.7em;
	font-style: italic;
}
#header h1 {
	color: #3798f3;
	margin: 0;
}



/* Frontpage specific header */

#toolkit {
	position: absolute;
	top: 38px;
	left: 278px;
	width: 100px;
	height: 25px;
	background: transparent url(img/frontpage_logo.png) no-repeat;
}



/* Expo banner and container */

#expo-banner {
	position: absolute;
	top: 38px;
	right: 50px;
	padding: 4px 6px;
	background-color: #66abdb;
	border: solid 3px #8cc2e8;
	z-index: 3;
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
	color: #fff;
	font-weight: bold;
	font-size: 1.4em;
}
#expo-banner em {
	color: #a1daff;
	font-style: normal;
}

#expo {
	margin: 25px 20px;
}
#expo .top {
	height: 2px;
	background: #b2d2e5 url(img/intro_tl.png) no-repeat;
	overflow: hidden;
}
#expo .top div {
	width: 2px;
	height: 2px;
	float: right;
	background: #b2d2e5 url(img/intro_tr.png) no-repeat;
}
#expo .bottom {
	height: 2px;
	background: #b2d2e5 url(img/intro_bl.png) no-repeat;
	overflow: hidden;
}
#expo .bottom div {
	width: 2px;
	height: 2px;
	float: right;
	background: #b2d2e5 url(img/intro_br.png) no-repeat;
}
#expo .content {
	padding: 0 50px;
	background: #f4fafe url(img/expo_bg.png) no-repeat;
	border: solid 2px #b2d2e5;
	border-width: 0 2px 0 2px;
	height: 260px;
	overflow: hidden;
	font-size: 1.2em;
	line-height: 1.6em;
}

#expo .links {
	float: right;
	width: 340px;
}
#expo .links .top {
	height: 2px;
	background: #b2d2e5 url(img/intro_tl.png) no-repeat;
	overflow: hidden;
}
#expo .links .top div {
	width: 2px;
	height: 2px;
	float: right;
	background: #b2d2e5 url(img/intro_tr.png) no-repeat;
}
#expo .links .bottom {
	height: 2px;
	background: #b2d2e5 url(img/intro_bl.png) no-repeat;
	overflow: hidden;
}
#expo .links .bottom div {
	width: 2px;
	height: 2px;
	float: right;
	background: #b2d2e5 url(img/intro_br.png) no-repeat;
}
#expo .links .cont {
	padding: 20px 0 20px 20px;
	background-color: #d6ecfa;
	border: solid 2px #b2d2e5;
	border-width: 0 2px 0 2px;
	line-height: 2.2em;
}

#expo .links em {
	font-size: 0.8em;
	text-transform: uppercase;
	font-style: normal;
	padding-left: 0.4em;
	color: #5b6a72;
}

#expo h3 {
	margin: 12px 0;
	font-size: 1.4em;
	color: #2293e7;
}
#expo p {
	margin: 0 0 1em 0;
}
#expo .contact {
	float: left;
	padding-right: 2em;
	margin-top: -0.5em;
	font-size: 0.9em;
	line-height: 1.5em;
}



/* Introduction box */

#intro {
	margin: 20px;
}

#intro .top {
	height: 2px;
	background: #b2d2e5 url(img/intro_tl.png) no-repeat;
	overflow: hidden;
}
#intro .top div {
	width: 2px;
	height: 2px;
	float: right;
	background: #b2d2e5 url(img/intro_tr.png) no-repeat;
}
#intro .bottom {
	height: 2px;
	background: #b2d2e5 url(img/intro_bl.png) no-repeat;
	overflow: hidden;
}
#intro .bottom div {
	width: 2px;
	height: 2px;
	float: right;
	background: #b2d2e5 url(img/intro_br.png) no-repeat;
}

#intro .content {
	padding: 10px 15px 30px 20px;
	background-color: #d6ecfa;
	border: solid 2px #b2d2e5;
	border-width: 0 2px 0 2px;
}

#intro h2 {
	background: transparent url(img/icon_intro.png) no-repeat;
	padding: 8px 50px;
	margin: 0 0 -0.3em 0;
}

#intro p {
	margin: 1em 500px 0 50px;
	font-size: 1.2em;
	color: #242424;
	line-height: 1.6em;
}

#intro .preview {
	width: 474px;
	height: 387px;
	background: transparent url(img/intro_preview.png) no-repeat;
	position: absolute;
	top: 65px; /* Without expo 65px, with expo 359px */
	right: 62px;
	z-index: 1;
}



/* Contents package */
#contents {
	clear: both;
	float: right;
	width: 45%;
	margin: 110px 38px 0 50px;
	position: relative;
	z-index: 2;
}
#contents h2 {
	background: transparent url(img/icon_contents.png) no-repeat;
	padding: 8px 50px;
	margin: 0 0 10px 0;
}
#contents .top {
	height: 2px;
	background: #e6e6e6 url(img/contents_tl.png) no-repeat;
	overflow: hidden;
}
#contents .top div {
	width: 2px;
	height: 2px;
	float: right;
	background: #e6e6e6 url(img/contents_tr.png) no-repeat;
}
#contents .bottom {
	height: 2px;
	background: #e6e6e6 url(img/contents_bl.png) no-repeat;
	overflow: hidden;
}
#contents .bottom div {
	width: 2px;
	height: 2px;
	float: right;
	background: #e6e6e6 url(img/contents_br.png) no-repeat;
}

#contents .content {
	padding: 10px 20px 10px 50px;
	background-color: #f7f7f7;
	border: solid 2px #e6e6e6;
	border-width: 0 2px 0 2px;
	font-size: 1.2em;
	line-height: 1.6em;
}

#contents h4 {
	margin: 0;
}

#contents a:link {
	color: #4c4c4c;
	text-decoration: none;
	border-bottom: dotted 1px #ee4411;
}
#contents a:visited {
	color: #5d7178;
	text-decoration: none;
	border-bottom: dotted 1px #539dc9;
}
#contents a:active {
	color: #3a9bff;
	text-decoration: none;
}
#contents a:hover {
	color: #3b62b1;
	background-color: #e7f3fa;
	border-bottom: solid 1px #ee4411;
	text-decoration: none;
}


/* Demo section */

#demo {
	margin: 0 0 20px 40px;
}

#demo h2 {
	background: transparent url(img/icon_demo.png) no-repeat;
	padding: 8px 50px;
	margin: 1.5em 0 -0.3em 0;
}

#demo p, #demo ul {
	font-size: 1.2em;
	line-height: 1.6em;
	margin-left: 50px;
}


/* Eclipse plugin section */

#eclipse {
	margin: 0 50% 20px 0;
	padding: 0 135px 0 40px;
	background: transparent url(img/eclipse-logo.gif) no-repeat right top;
}

#eclipse h2 {
	background: transparent url(img/icon_intro.png) no-repeat;
	padding: 8px 50px;
	margin: 1.5em 0 -0.3em 0;
	zoom: 1; /* For IE6 to gain hasLayout (defer rendering bugs) */
}

#eclipse p, #eclipse ul {
	font-size: 1.2em;
	line-height: 1.6em;
	margin-left: 50px;
}


/* Support section */

#support {
	margin: 0 0 20px 40px;
}

#support h2 {
	background: transparent url(img/icon_support.png) no-repeat;
	padding: 8px 50px;
	margin: 1em 0 -0.3em 0;
}

#support p {
	font-size: 1.2em;
	line-height: 1.6em;
	margin-left: 50px;
}


/* License section */

#license {
	margin: 0 0 20px 40px;
}

#license h2 {
	background: transparent url(img/icon_license.png) no-repeat;
	padding: 8px 50px;
	margin: 1em 0 -0.3em 0;
}

#license ul {
	font-size: 1.2em;
	line-height: 1.6em;
	margin-left: 50px;
}



/* Footer */

#footer {
	clear: both;
	padding: 20px 40px;
	font-size: 1.1em;
	color: #797979;
}

#footer span {
	float: right;
}





/* Subpage styles */

#page {
	margin-left: 3%;
	text-align: left;
	width: 94%;
	font-size: 1.4em;
	line-height: 1.6em;
}

.navheader {
	margin-top: 20px;
}

.navheader th {
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
}

pre {
	background-color: #f7f7f7;
	border: solid 2px #e6e6e6;
	font-family: monospace;
	font-size: 1.0em;
	padding: 0.5em 1em;
}

code {
	font-size: 1.0em;
}

hr {
	height: 1px;
	overflow: hidden;
	color: #b2d2e5;
	background-color: #b2d2e5;
	border: none;
}

.guimenu, .guimenuitem, .guisubmenu, .guilabel, .guibutton { 
	font-weight: bold;
}
